<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @album.tag %>
</p>
<% @photos.each do |p| %>
    <p><%= p.tags %></p> <img src="<%= p.images.thumbnail.url %>"> 
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
